html, body, main {
    height: 100%
}

body {
    background: rgb(251,203,77);
    background: linear-gradient(180deg, rgba(251,203,77,1) 0%, rgba(248,134,61,1) 100%) fixed;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: auto;
        max-width: 20rem;
        width: 30%;
        animation: 2s ease-in-out infinite alternate slide;
        
        @keyframes slide {
            from {
                transform: translate3d(0);
            }
            
            to {
                transform: translate3d(20%, 20%, 0px);
            }
        }
    }
}

