section#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: $column__gap;
    grid-template-areas: 'grid__header-experience grid__header-projects'
                         'grid__content-exprience grid__content-projects';
    font-size: 1vw;
    padding: 1em 0;

    div#header__experience {
        grid-area: grid__header-experience;
    }

    div#header__projects {
        grid-area: grid__header-projects;
    }

    h2 {
        margin: 1em 0;
    }
}