section#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 10px solid black;
    border-bottom: 10px solid black;

    div { // Added div for potential position: relative stuff
        display: flex;
        flex-direction: column;
        
        h1 {
            font-family: $font__header-bold;
            font-size: clamp(2em, 2vw, 3em);
            margin-bottom: 0.5em;
        }
    
        div:nth-of-type(1) {
            -webkit-text-stroke: 1.5px black;
            text-stroke: 1px black;
            color: white;
        }
    
        div:nth-of-type(2) {
            margin-left: 2em;
            white-space: nowrap;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.35vw;
            
            ul {
                display: flex;
    
                li {
                    margin-left: 3em;
                }

                li:hover {
                    color: red;
                }
            }
        }

        p {
            text-align: right;
        }
    }
}